@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

*,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #0f172a;
}

main {
  padding: 20px;
  max-width: 640px;
  margin: 0 auto 64px;
}

header {
  margin-top: 64px;
  padding-bottom: 24px;
  border-bottom: 1px solid #334155;
}

header h1 {
  margin-top: 24px;
  font-size: 30px;
  color: #f1f5f9;
}

#quiz {
  counter-reset: quiz-item;
}

.quiz-item {
  margin-top: 24px;
  border: 1px solid #475569;
  border-radius: 6px;

  overflow: hidden; /* para os filhos dele não transbordar */
}

.quiz-item h3 {
  padding: 16px 20px;
  color: #e2e8f0;

  display: flex;
  align-items: center;
  gap: 12px;

  /* gera um transbordo nas pontas, porém com o overflow hidden no pai impede isso */
  background-color: #1e293b;
}

.quiz-item dl {
  padding: 20px 24px;

  display: grid;
  gap: 8px;
}

.quiz-item dl dt {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;

  display: flex;
  align-items: center;
  gap: 8px;

  color: #e2e8f0;
}

input:checked {
  border: 1px solid #a3e635;
}

#acertos {
  text-align: center;
  background-color: #a3e635;

  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 12px;
}
